@import "tailwindcss";

@keyframes shimmer {
    0% { background-position: -200% 0; }
    100% { background-position: 200% 0; }
}

@keyframes display-message {
  /* Entrada: Rápida e com impacto (vinda de cima) */
  0% {
    opacity: 0;
    transform: translateY(-100%) scale(0.9);
  }
  8% {
    opacity: 1;
    transform: translateY(0) scale(1.05);
    visibility: visible;
  }
  12% {
    transform: translateY(0) scale(1);
    visibility: visible;
  }

  /* Permanência: Estática no centro */
  85% {
    opacity: 1;
    transform: translateY(0) scale(1);
    visibility: visible;
  }

  /* Saída: Deslizando para baixo e sumindo */
  100% {
    opacity: 0;
    transform: translateY(100%);
    visibility: hidden;
  }
}

@keyframes appear-from-top {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes appear-from-bottom {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes appear-from-right {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes appear{
    from{ opacity: 0}
    to{opacity: 1}
}

@theme{
    --animate-shimmer: shimmer 2s infinite;
    --animate-display-message: display-message 3s cubic-bezier(0.22, 1, 0.36, 1) forwards;
    --animate-appear: appear 1s forwards;
    --animate-appear-from-top: appear-from-top 1s forwards;
    --animate-appear-from-bottom: appear-from-bottom 1s forwards;
    --animate-appear-from-right: appear-from-right 1s forwards;
}